.MovieDetails {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
}

.MovieDetails-card {
    width: 60%;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    box-sizing: border-box;
    margin-bottom: 20px;
    background-color: rgba(211, 211, 211, 0.95);
}

.MovieDetails-card img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
}

.MovieDetails-review-form {
    width: 60%;
    margin-top: 20px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    box-sizing: border-box;
    background-color: rgba(211, 211, 211, 0.95);
}

@media (max-width: 768px) {
    .MovieDetails-card,
    .MovieDetails-review-form {
        width: 90%;
    }
}